@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}


:root {
  --surface-color: #fff;
  --curve: 40;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showcase {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  padding: 0rem 15% 0rem 15%;
  overflow: hidden;
}
nav {
  min-height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 15%;
}
.logo {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
nav img {
  transform: scale(0.7);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  z-index: 2;
  flex: 1;
}
.image-container img {
  width: 80%;
}
.showcase-text {
  flex: 1;
  color: white;
  padding-bottom: 10rem;
}

.showcase-title {
  font-size: 2rem;
}
.showcase-subtitle {
  font-size: 1rem;
  padding: 3rem 0rem;
  font-weight: 400;
}
.showcase-button {
  padding: 0.5rem 2rem;
  border: none;
  color: black;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}
.showcase-arrow {
  position: absolute;
  right: 15%;
  bottom: 10%;
  transform: scale(0.6);
}

/*BUBBLESSS */
.circle {
  position: absolute;
}
.circle-1 {
  left: -3%;
  bottom: -3%;
  transform: scale(2);
}

.circle-2 {
  left: 35%;
  bottom: 10%;
}
.circle-3 {
  left: 20%;
  top: 15%;
  transform: scale(1.5);
}

/* product page*/
.product-nav {
  min-height: 10vh;
}
.product-section {
  background: white;
  min-height: 90vh;
  position: absolute;
  width: 100vw;
  z-index: 5;
}

.product-description {
  padding: 5% 15%;
  color: #4b4b4b;
}
.product-description h2 {
  font-size: 2rem;
}
.product-description p {
  font-size: 1.2rem;
  padding: 1rem 0rem;
}

.product-gallery {
  display: grid;
  padding: 0% 15%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.product-gallery .product-img {
  border-radius: 1rem;
  width: 100%;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  padding: 2rem;
}
/* Product Start  */

.product{
  display:inline;
  align-items: center;
  justify-content: center;
}
.Product-title{
  text-align: center;
  font-size: 34px;
  color: #fff;
}

.product-sub{
  text-align: center;
  align-items: center;
  font-size: 22px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 0.1px);
  overflow: hidden;
  text-decoration: none;
  background-color: #5BAE41;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 0.1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1.2em;
  margin: 0 0 .3em;
  color: #000000;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: 1.2em;
  font-weight: bold;
  color: #47de25;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    


/* About us */
#how-we-do{
  color:#ffffff;
 }
 #how-we-do h4{
   text-align:left !important;
 }
 #how-we-do .how-bg-img{
   background-image: url("https://www.arketipomagazine.it/wp-content/uploads/sites/20/2017/11/Nakaaoki_03.jpg");
   background-size: cover;
     background-repeat: no-repeat;
     padding: 300px 0;
   filter:grayscale(100%);
 }
 #how-we-do:hover .how-bg-img{
   -webkit-transition: .5s all ease;
   -moz-transition: .5s all ease;
   transition: .5s all ease;
   filter:grayscale(1%);
 }
 #how-we-do .how-contents{
   padding:60px 30px;
   background:#007b5e;
 }
 #how-we-do .how-contents ul li{
   padding-left: 50px;
     position: relative;
   margin-bottom:26px;
 }
 #how-we-do .how-contents ul li:before{
   font-family: FontAwesome;
   content: "\f209";
     position: absolute;
     font-size: 39px;
     color: #ffffff;
     left: 0;
 }

 /* why Aryveda */
 .container {
  margin-top: 100px;
  width: 90%;
}

a.img-caption {
  margin: 0 0 40px;
  display: block
}

.img-caption img {
  position: relative;
  height:300px;
}

.img-caption figure {
  box-sizing: content-box;
  overflow: hidden;
  position: relative
}

.img-caption figcaption {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  box-sizing: content-box;
  padding: 17px 25px;
  bottom: 0;
  display: block;
  width: 100%;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out
}

.img-caption:hover figcaption {
  background: green
}

.img-caption figcaption h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px
}

.mega .img-caption figcaption h3 {
  font-size: 14px;
  line-height: 20px
}

.mega .img-caption figcaption span {
  font-size: 14px;
  line-height: 14px
}

.mega .img-caption figcaption {
  padding: 10px 20px
}

.img-caption figcaption span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  display: block;
  position: relative;
  opacity: 0;
  max-height: 0;
  padding: 0;
  -webkit-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -moz-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -ms-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -o-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out
}

.img-caption:hover figcaption span {
  max-height: 50px;
  opacity: 1;
  padding: 5px 0 4px
}

 /* why aruyveda */



/* consult us */
.consult{
  padding: 0px 40px 50px;
  background-color:#0F4C81;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.h1{
  font-size: 40px;
}
.row{
  display: flex;
  align-items: center;
}

img.support{
  width: 350px;
  height: auto;
}
.call-button{
  background-color: #ff414ed7;
  width: 200px;
  height: 60px;
  font-weight: bold;
}
.call-butto:hover{
  background-color: #ff414ebd;
}
.call-butto:hover > .fa-long-arrow-right{
  padding-left: 5px;
  transition: 200ms ease-in 0s;
}


@media(min-width:300px) and (max-width:426px){
  .container{
      padding-left: 20px;
      padding-right: 10px;
      padding-bottom: 0px;
  }
  input{
      width: 150px;
  }
  img.support{
    width: 300px;
    height: auto;
  }
  button{
      width: 140px;
  }
}
@media(min-width:427px) and (max-width:575px){
  .container{
      padding-left: 20px;
      padding-right: 10px;
      padding-bottom: 1px;
  }
  input{
      width: 220px;
  }
  img.support{
    width: 250px;
    height: auto;
  }
  }
  
  button{
      width: 140px;
  }
}

@media(min-width:946px) and (max-width:667px){
  img.support{
    width: 300px;
    height: auto;
}
}
@media(min-width:100px) and (max-width:180px){
  img.support{
  display: none;
}
}


/* Consult us end */


/* Product Ed */


/* Counter */

/* Counter end */

.container{
  margin-top:100px;
}

.counter-box {
display: block;
background: #f6f6f6;
padding: 40px 20px 37px;
text-align: center
}

.counter-box p {
margin: 5px 0 0;
padding: 0;
color: #909090;
font-size: 18px;
font-weight: 500
}

.counter-box i {
font-size: 60px;
margin: 0 0 15px;
color: #d2d2d2
}

.counter { 
display: block;
font-size: 32px;
font-weight: 700;
color: #666;
line-height: 28px
}

.counter-box.colored {
    background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
color: #fff
}


/* Testominal start */

.wrapper {
  background-color: #222;
  max-width: 800px;
  margin: 100px auto;
  padding: 110px 120px;
}

.wrapper .content {
  padding: 10px;
  cursor: pointer;
}

.testimonial {
  padding: 20px 40px;
  position: relative;
}

.fa-quote-left {
  position: absolute;
  top: -15px;
  left: -6px;
  font-size: 2rem;
  color: #fab41d;
}

.fa-quote-right {
  position: absolute;
  bottom: -15px;
  right: -6px;
  font-size: 2rem;
  color: #fab41d;
}

.employee {
  margin-bottom: 40px;
  padding-left: 30px;
}

.h3 {
  margin: 0;
}

/* Carousel Indicators */
.carousel-indicators {
  bottom: -100px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Text Transformations */
.text-jusitfy {
  font-weight: 700;
}

.text-mute {
  color: #aaa;
}

/*Media Queries*/
@media(max-width:767px) {
  .wrapper {
      padding: 80px 50px;
      margin: 50px 10px;
  }

  .carousel-indicators {
      bottom: -80px;
  }
}

@media(max-width: 420px) {
  .wrapper {
      padding: 40px 20px;
  }

  .carousel-indicators {
      bottom: -45px;
  }

  .employee {
      margin-bottom: 40px;
      padding-left: 15px;
  }
}
/* Testominal end */
/* Footer */

#button-addon1 {
  color: #ffc371;
}

i {
  color: #0000cc;
  font-size: 20px;}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

 
.display-3{
  font-family: 'Sanchez', serif;
}

p{
  font-family: 'Tajawal', sans-serif;
}

.lead{
  font-family: 'Sanchez 200', serif;
}


/* F&Q Start */
  

/* F&Q end */


@media screen and (max-width: 768px) {
  .showcase {
    flex-direction: column;
    padding: 20%;
    justify-content: space-evenly;
    min-height: 85vh;
  }
  .image-container {
    min-height: 30vh;
    justify-content: center;
    order: 1;
  }

  .circle-3 {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }
  .circle-1,
  .circle-2 {
    display: none;
  }
  .showcase-title {
    font-size: 1.5rem;
  }
  .showcase-subtitle {
    font-size: 1rem;
    padding: 2rem 0rem;
  }
  .showcase-text {
    padding-bottom: 0;
  }
  .showcase-arrow {
    right: 0;
    bottom: 50%;
  }
}



/* Special order */



button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  outline-width: 0
}

.card-special {
  border-radius: 10px;
  border: none;
  background-color: #f2ac34;
  padding-bottom: 0px;
  padding-top: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.left-side {
  height: 100%;
}

.btn-pink {
  background: #121312;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 200px;
  height: 40px;
  border: 1px solid #FF5252;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-pink:hover {
  background: #06d254;
  color: #080606;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

.boy-img {
  height: auto;
  width: 360px;
}



/* Model */

.modal-body{

  background-color: black;
}



.intro-1{

  font-size: 16px;
}

.close{

  color: #fff;
}


.close:hover{

  color: #fff;
}


.intro-2{

  font-size: 13px;
}



/* Ecommerce informaton Start */
.ecommerce-info{
  padding: 10px 20px ;
  border: 2px solid #fff;
  background-color: #f2ac34;
  border-radius: 2px;
}
.char_item{
  padding: 10px 10px;
  border: 2px dotted #fff;
}
.char_icon {
  margin-top: 15px;
  color: #fff;
}

.char_content {
  margin-top: 22px;

}

.char_title {
  font-size: 20px;
  font-weight: 500;
  color: #f9f7f7;
}

.char_subtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(10, 1, 1, 0.5);
  margin-top: 3px;
}


/* Ecommerce informaton end */